@model ErxTest.Models.PersonalInfo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Edit: Personal Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                 <select asp-for="Title" name="Title" id="Title" class="form-control" style="width:100px;">
                    <option value="Mr">Mr.</option>
                    <option value="Ms">Ms.</option>
                    <option value="Mrs">Mrs.</option>
                  </select>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <!--select asp-for="Country" class="form-control" id="selCountries"></select-->
                <select asp-for="Country" class="form-control" asp-items="@ViewBag.Countries" id="selCountries"></select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressHome" class="control-label"></label>
                <textarea asp-for="AddressHome" type="text" class="form-control"></textarea>
                <span asp-validation-for="AddressHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressWork" class="control-label"></label>
                <textarea asp-for="AddressWork" type="text" class="form-control"></textarea>
                <span asp-validation-for="AddressWork" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="BusinessTypeId" class="control-label">Business Type</label>
                <select asp-for="BusinessTypeId" class="form-control" asp-items="@ViewBag.BusinessTypes"></select>
                <span asp-validation-for="BusinessTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupation" class="control-label"></label>
                <input asp-for="Occupation" class="form-control" />
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    var selCountries = document.getElementById("selCountries"); // Get the select tag.

        // You can get the selected country.
    selCountries.onchange = function() {
        if(this.value == "Cambodia" || this.value == "Myanmar" || this.value == "Pakistan"){
            alert("The Questionnaire Is Done!");
            document.location.href="/PersonalInfoes";
        }
    };

</script>